html {
  height: 100%;
}

#mainContainer {
  height: 800px;
  width: 100%;
  background-image: url(/assets/images/bgimg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#impronto {
  font-size: 6.0em;
  color: black;
}

#tagline {
  color: black;
  font-size: 2.6em;
}

#taglineSecondary {
  color: black;
}

.btn.outline {
    background: white;
    padding: 12px 22px;
}

.btn-default.outline {
    border: 2px solid black;
    background: white;
    color: black;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: black;
    border-color : black;
    background: white;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: black;
    color: black;
}


#stepsContainer {
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

#stepsTitle {
  padding-top: 60px;
}
#steps {
  padding-top: 40px;
}

.step_animation {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  /*-webkit-animation-iteration-count: infinite; */
}

.step_title {
  font-size: 2.8em
}

#earlyAccessDiv {
  padding-top: 100px;
}
